$primary-color: #3498db;
$background-color-white:white;
$input-stroke-gray:#D4D7E3;
$input-bg-color:#F7FBFF;
$input-placeholder-color:#8897AD;
$input-span-color:#0C1421;
$btn-app-blue:#162D3A;
$app-link-color:#1E4AE9;
$app-text-color:#294957;
$app-box-color:#F3F9FA;
$app-footer-text-color:#959CB6;